*{
	margin: 0;
	padding: 0;
	color:#545454;
}
body{
	background-color: #d1d3d4;
	background-image: url(../img/lyft-diy_905.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center 0;
}
.logo{
	margin-top: 40px;
	text-align: center;
}
.logo img{
	width: 10%;
}
.btn-rosa {
  width: 20%;
  height: 50%;
  font-size: 20px;
}
.botones{
	width: 40%;
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}
@media only screen and (max-width: 768px){
.logo{
	margin-top: 30px; 
}
.logo img{
	width: 40%;
}
.btn-rosa{
	width: 45%;
}
body{
	background-image: url(../img/lyft-diy_905celu.jpg);
	background-size: 300%;
	background-position: center 0;
}
}