.imgperfil{
		background-image: url('../img/OGMFWE0.jpg');
		background-repeat: none;
		width: 20%;
		height: 250px;
		background-size: 100%;
		margin:auto;
		border: 10px solid #ff407b;
	}
	.menu{
		color: #f062b2;
		font-size: 30px;
		position: absolute;
		left: 10px;
		top: 15px;
	}
	.btn-rosa {
		font-size: 15px;
		width: 10%;
		height: 30px;
		margin:auto;
		position: absolute;
		top: 100px;
	}
	.nom{
		font-weight: bold;
		color: #f062b2;
		text-align: center;
		font-size: 50px;
		margin-top:20px;
	}
	.rosa{
		color:#ff407b;
	}
	.datos i{
		color:#ff407b;
	}
	.datos{
		font-size: 20px;
		margin:10px auto 10px auto;
		width: 80%;
	}
	.inicio{
		text-align: center;
		background-color: #f0f0f0;
		width: 100%;
		padding-top:15px;
		padding-bottom: 15px;
	}
@media screen and (max-width: 800px){
.imgperfil{
		background-image: url('../img/OGMFWE0.jpg');
		height: 250px;
		width: 100%;
		background-size: 100%;
		background-position: 0 15%;
		margin-left: 0;
		border-top: 10px solid #ff407b;
		border-bottom: 10px solid #ff407b;
	}
	.menu{
		color: #f062b2;
		font-size: 30px;
		position: absolute;
		left: 10px;
		top: 15px;
	}
	.btn-rosa {
		font-size: 15px;
		width: 30%;
		height: 30px;
		position: absolute;
		right: 10px;
		top: 100px;
	}
	.nom{
		font-weight: bold;
		color: #f062b2;
		text-align: center;
		font-size: 50px;
		margin-top:20px;
	}
	.datos{
		font-size: 20px;
		margin:10px auto 10px auto;
		width: 80%;
	}
	.inicio{
		text-align: center;
		background-color: #f0f0f0;
		width: 100%;
		padding-top:15px;
		padding-bottom: 15px;
	}
	
}