.imgperfil{
		background-image: url('../img/OGMFWE0.jpg');
		background-repeat: none;
		height: 250px;
		background-size: 100%;
		background-position: 0 15%;
		border-top: 10px solid #ff407b;
		border-bottom: 10px solid #ff407b;
	}
	.menu{
		color: #f062b2;
		font-size: 30px;
		position: absolute;
		left: 10px;
		top: 15px;
	}
	.btn-rosa {
		font-size: 15px;
		width: 30%;
		height: 30px;
		position: absolute;
		right: 10px;
		top: 15px;
	}
	.nom{
		font-weight: bold;
		color: #f062b2;
		text-align: center;
		font-size: 50px;
		margin-top:20px;
	}
	.inicio{
		text-align: center;
		background-color: #f0f0f0;
		width: 100%;
		padding-top:15px;
		padding-bottom: 15px;
	}
	@media only screen and (max-width: 768px){
}